.default-container {
    max-width: 1366px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    margin: 0%; padding: 0;
    font-family: Lato;
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
}
div {
    margin: 0%;
}

/*---------------nav---------------*/

.navbar {
    background-color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
    .logo {
        margin: 11px 0 11px 60px;
        width: unset;
    }
    .collapse {
        .navbar-nav {
                .nav-item {
                    a {
                    color: #000;
                    padding: 25px 0 28px 40px;
                }
                a:hover {
                    color: #2f76f0;
                }
                a:active,
                a:focus {
                    color: #2f76f0;
                }
            }
            .col2 {
                a {
                    padding-bottom: 5px;
                }
                .dropdown-menu {
                    // height: 60px;
                     a {
                         padding: 10px 30px;
                    color: #000;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: #fff;
                }
                a:hover {
                    color: #2f76f0;
                }
                a:active,
                a:focus {
                    color: #2f76f0;
                }
                }
                }                 
        }
        .form-inline {
            background-color: transparent !important;
            padding: 0%;
            .nav-item {
                a {
                color: #000;
                padding: 25px 0 28px 40px;
            }
            a:hover {
                color: #2f76f0;
            }
            a:active,
            a:focus {
                color: #2f76f0;
            }
            .signup {     
                text-decoration: none;               
                padding: 13px 42px;
                border-radius: 3px;
                border: none;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                font-family: lato;
                margin: 0 60px 0 40px;
                float: left;
                background-color: #2f76f0; 
            }
            .signup:hover {
                color: #fff;
            }
        }
    }
 }
}

/*----------------------------page----------------------------*/

.first {
    background-color: #fff;
    padding-bottom: 101px;
    *{
        box-sizing: border-box;
    }
    .heading {
        margin: 0 auto;
        text-align: center;
        padding: 70px 0 50px;
        font-size: 32px;
        font-weight: 900;
        color: #000000;
        }
        .content {
            padding: 0 60px;
            .col-svg {
                position: relative;
                // width:40%;                
                float: left;
                padding-right: 15px;
                div {
                    position: relative;
                    z-index: 2;
                    width: 580px;
                }
                .front {
                    // padding: 30px 15px  0px;
                    width: 100%;
                    height: auto;
                    // max-width: 100%;
                    // background-color: #e2e2e2;
                    border: solid 1px #c4c0c0;
                
                &.behind {      
                    width: 580px;     
                    height: 100%;         
                    position: absolute;
                    left: -20px;
                    top: 20px;
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.07);
                    border: none;
                    background-color: #ffffff;
                    }
                }
            }
            .col-post {            
                padding: 0 15px 0;
                width: 49%;
                float: left;
                text-align: justify;                
                p {
                    font-size: 18px;
                    line-height: 1.56;
                    text-align: justify;
                    color: #2a2a2a;
                }
                .para1 {
                    font-size: 18px;
                }
                .para2 {
                    font-size: 17px;
                    line-height: 1.53;
                }
                .para3 {
                    font-size: 17px;
                    font-style: italic;
                    line-height: 1.41;
                    color: #171717;
                }
            }
            .row-post1 {
                padding: 30px 0 0 50px;
            }
        }
}

.leadership {    
    background-color: #f9f9f9;
    h2 {
        padding: 70px 0 20px;
        margin: 0 auto;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        color: #000000;
    }
    p {
        padding: 0 0 40px;
        max-width: 940px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
        color: #797979;
    }
    .images {
        padding: 0 133px 0 133px !important;
        // max-width: 1366px;
        .person {
            float: left;
            .img {
                height: 340px;
                // width: 340px;
                background-color: #bab7b7;
                margin-right: 30px;
            }
            .name {
                text-align: left;
                padding: 18px 0 7px 0;
                font-size: 20px;
                font-weight: bold;                
                color: #000000;
            }
            .role {
                padding-bottom: 140px;
                text-align: left;
                font-size: 18px;
                color: #7f7f7f;
            }
        }        
    }
}

.see-openings {
    background-color: #ffffff;
    .openings {
        padding: 140px 0 60px 138px;
        .img1 {       
            float: left;     
            background-color: #7f7f7f;
            width: 640px;
            height: 360px;
            margin-right: 30px;
        }
        .img2 {    
            float: left;        
            background-color: #7f7f7f;
            width: 420px;
            height: 360px;
        }
    }
    .see-btn {
        margin: 0 auto 100px auto;
        text-align: center;
        .op {
            border-radius: 3px;
            border: none;
            background-color: #2f76f0;
            font-size: 14px;
            font-weight: bold;
            padding: 15px 41px 13px;
            color: #fff; 
        }
    }
}

.footer {
    font-weight: bold;
    color: #ffffff;
    background-color: #2f76f0; 
    .row-footer1 {
        margin: 0%;
        padding: 60px 98px 50px;
        max-width: 1366px;
        text-align: center;
        .col-footer1 {
            float: left;
            width: 80%;
        }
        .col-footer2 {
            float: left;
            width: 20%;
        }
        .col-footer {
            margin: 0%;
            padding: 0%;
            float: left;
            width: 30%;
            // padding-left: 98px;
            > p {
                text-align: left;
                margin: 0%;
                padding: 64px 0 30px;
                font-size: 16px;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
            }
            ul {
                list-style: none;
                padding: 0%;
                margin: 0%;
                text-align: left;
            a {
                // float: left;
                margin: 0%;
                padding: 0 0 20px;
                font-size: 16px;
                font-weight: bold;
                color: #ffffff; 
                display: inline-block;
                text-decoration: none;
            }
            }
            .address {                
                padding: 0 0 36px;
                text-transform: capitalize;
                line-height: 1.63;
            }
            .phone {
                padding: 0 0 38px;
                .ph {
                    float: left;
                    padding-right: 16px;
                }
                a p {
                    float: left;
                    margin: 0%;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: left;
                    color: #fff;
                }
            }
            .email {
                padding: 0 0 5px;
                .emailimg {
                    float: left;
                    padding-right: 16px;
                }
                a p {
                    float: left;
                    margin: 0%;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: left;
                    text-decoration: none;
                    color: #fff;
                }
            }
            .lexlogo {
                height: auto;
                width: 79px;
                margin: 70px 0 50px;         
            }
            .social-net-logo {
                // max-width: 217px;               
                .social {
                    padding:0 30px 0 0;
                }
                .last {
                    padding: 0%;
                }
            }     
        }
        .col2 {
            width: 20%;
        }
        .col3 {
            width: 45%;
        }
        .col4 {
            // padding-left: 53px;
            width: 100%;
        }
    }
    .row-footer2 {
        text-align: center;
        font-size: 14px;
        padding: 0 0 70px;
        p {
            margin: 0%;
        }
    }
}


@media screen and (max-width: 1280px) {
   .first .content {
       padding: 0 30px;
       .col-post {
           width: 48%;
       }
   }
   .footer .row-footer1 { 
    .col-footer1 {
        width: 100%;
        .col-footer {
            width: 35%;
        }
        .col2 {
            width: 25%;
        }
        .col3 {
            width: 40%;
        }
    }
    .col-footer2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

}

@media screen and (max-width: 1024px) {
    .first .content {
        padding: 0 50px;
        .col-svg {
            width: 100%;
        }
        .row-post1 {
            padding: 30px 50px 0;
        }
        .col-post {
        width: 100%;
        padding: 40px 0 0;
    }
}
    // .leadership .images {
    //     padding: 0 30px 0 30px !important;
    //     .img {
    //         width: 340px;
    //     }
    // }

.footer .row-footer1 { 
    .col-footer1 {
        width: 100%;
        .col-footer {
            width: 35%;
        }
        .col2 {
            width: 25%;
        }
        .col3 {
            width: 40%;
        }
    }
    .col-footer2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
}

@media screen and (max-width: 991px) {
 .navbar {
    .navbar-toggler {
        border-color: #2f76f0;
        margin-right: 40px;
    }
    .show  {
        background-color: #fff;;
        padding-bottom: 40px;
    }
    .collapse {
        .form-inline {
            display: block;
        }
        .navbar-nav {
        padding-left: 0%;
        .nav-item { 
            a {
            color: #000;
        }
        a:hover,
        a:focus,
        a:active {
            color: #2f76f0;
        }
    }
    }
}
    .col2 {
        .dropdown-menu {
            background-color: #f6f6f6;
            padding-bottom: 10px;
             a {
                padding: 10px 30px;
                color: #000000;
                font-size: 14px;
                font-weight: bold;
        }
        a:hover,
        a:focus,
        a:active {
            color: #2f76f0;
        }
        }
    }
    .collapse .form-inline .nav-item{
        a {
        color: #000;
    }
    a:hover,
    a:focus,
    a:active {
        color: #2f76f0;
    }
    .signup {
        background-color: #2f76f0;
        color: #fff;
    }
    .signup:hover,
    .signup:focus,
    .signup:active {
        color: #fff;
    }
}
}
}
//     .footer .row-footer1 { 
//         .col-footer1 {
//             width: 100%;
//             .col-footer {
//                 width: 35%;
//             }
//             .col2 {
//                 width: 25%;
//             }
//             .col3 {
//                 width: 40%;
//             }
//         }
//         .col-footer2 {
//             width: 100%;
//             margin: 0 auto;
//             text-align: center;
//         }
//     }
// }

@media screen and (max-width: 768px) { 
    .navbar {
        .navbar-toggler {
        border-color: #2f76f0;
        margin-right: 40px;
    }
    .show  {
        background-color: #fff;
        padding-bottom: 40px;
    }
    .collapse .navbar-nav {
        padding-left: 0%;
        .nav-item { 
            a {
            color: #000;
        }
        a:hover,
        a:focus,
        a:active {
            color: #2f76f0;
        }
    }
    }
    .col2 {
        .dropdown-menu {
            background-color: #f6f6f6;
            padding-bottom: 10px;
             a {
                padding: 10px 30px;
                color: #000;
                font-size: 14px;
                font-weight: bold;
        }
        a:hover,
        a:focus,
        a:active {
            color: #2f76f0;
        }
        }
    }
    .collapse .form-inline .nav-item{ a {
        color: #000;
    }
    a:hover,
    a:focus,
    a:active {
        color: #2f76f0;
    }
    .signup {
        background-color: #2f76f0;
        color: #fff;
    }
    .signup:hover,
    .signup:focus,
    .signup:active {
        color: #fff;
    }
}
}
        .first .content {
            .col-svg {
                width: 100%;
            }
            .col-post {
                width: 100%;
            }
            padding: 0 50px;
            .row-post1 {
            padding-left: 10px;
            padding-right: 0%;
        }
    }
    .footer {
        .row-footer1 {
            padding: 60px 30px 50px;
        }
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        .navbar-toggler {
        border-color: #2f76f0;
        margin-right: 40px;
    }
    .show  {
        background-color: #fff;
        padding-bottom: 40px;
    }
    .collapse .navbar-nav {
        padding-left: 0%;
        .nav-item {
            a {
            color: #000;
        }
        a:hover {
            color: #2f76f0 !important;
        }
        a:focus,
        a:active {
            color: #2f76f0;
        }
    }
    }
    .col2 {
        .dropdown-menu {
            background-color: #f6f6f6;
            padding-bottom: 10px;
             a {
                padding: 10px 30px;
                color: #000;
                font-size: 14px;
                font-weight: bold;
        }
        a:hover,
        a:focus,
        a:active {
            color: #2f76f0;
        }
        }
    }
    .collapse .form-inline .nav-item { a {
        color: #000;
    }
    a:hover,
    a:focus,
    a:active {
        color: #2f76f0;
    }
    .signup {
        background-color: #2f76f0;
        color: #fff;
    }
    .signup:hover,
    .signup:focus,
    .signup:active {
        color: #fff;
    }
}
}
.first .content .col-svg div {
    width: 100%;
}
.first .content .col-svg {
    padding-right: 0%;
}

    .first .content {
        .col-svg .front {
            width: 100%;
            height: auto;
    }
    .col-svg .front.behind {
        width: 100%;
        height: 100%;
    }
        .col-post {
            width: 100%;
        }
    }
    .footer {
        .row-footer1 {
            padding: 0 50px 20px;            
                .col-footer1 {
                    .col-footer {
                        width: 50% !important;
                        padding-right: 40px;
                    }
                    .col3 {
                        width: 100% !important;
                        padding-right: 0;
                    }
                }
            }   
        }
}

@media screen and (max-width: 480px) {
    .first .content .col-svg div {
        width: 100%;
    }   
    .navbar {
        .navbar-toggler {
        border-color: #2f76f0;
        margin-right: 40px;
    }
    .show  {
        background-color: #fff;
        padding-bottom: 40px;
    }
    .collapse .navbar-nav {
        padding-left: 0%;
        .nav-item {
            a {
            color: #000;
            }
            a:hover,
            a:focus,
            a:active {
                color: #2f76f0;
            }
        }
    }
    .col2 {
        .dropdown-menu {
            background-color: #f6f6f6;
            padding-bottom: 10px;
             a {
                padding: 10px 30px;
                color: #000;
                font-size: 14px;
                font-weight: bold;
        }    
        a:hover,
        a:focus,
        a:active {
            color: #2f76f0;
        }    
        }
    }
    .collapse .form-inline .nav-item{ a {
        color: #000;
    }
    a:hover,
    a:focus,
    a:active {
        color: #2f76f0;
    }
    .signup {
        background-color: #2f76f0;
        color: #fff;
    }
    .signup:hover,
    .signup:focus,
    .signup:active {
        color: #fff;
    }
}

}

    .footer {
        .row-footer1 {
            padding: 0 30px 20px 30px;            
                .col-footer1 {
                    .col-footer {
                        width: 50% !important;
                        padding-right: 40px;
                    }
                    .col3 {
                        width: 100% !important;
                        padding-right: 0;
                    }
                }
            }   
        } 
}

@media screen and (max-width: 414px) {
    .first .content .col-svg div {
        width: 100%;
    }   
    .first .content {
        .col-svg {
            padding-right: 0%;
        }
        .col-post {
            width: 100%;
        }
        padding: 0 20px;
        .row-post1 {
        padding-left: 10px;
        padding-right: 0%;
    }
}
}

@media screen and (max-width: 411px) {
    .first .content .col-svg div {
        width: 100%;
    }   
    .first .content {
        .col-svg {
            padding-right: 0%;
        }
        .col-post {
            width: 100%;
        }
        padding: 0 20px;
        .row-post1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
}

@media screen and (max-width: 360px) {
    .first .content .col-svg div {
        width: 100%;
    }   
    .first .content {
        .col-svg {
            padding-right: 0%;
        }
        .col-post {
            width: 100%;
        }
        padding: 0 20px;
        .row-post1 {
        padding-left: 10px;
    }
}
    .footer {
        .row-footer1 {
            padding: 0 30px 20px 30px;            
                .col-footer1 {
                    .col-footer {
                        width: 50% !important;
                        padding-right: 40px;
                    }
                    .col3 {
                        width: 100% !important;
                        padding-right: 0;
                    }
                }
            }   
        }
}

@media screen and (max-width: 320px) {
    .first .content .col-svg div {
        width: 100%;
    }   
    .first .content {
        .col-svg {
            padding-right: 0%;
        }
        .col-post {
            width: 100%;
        }
        padding: 0 20px;
        .row-post1 {
        padding: 30px 0 0 10px;
    }
}
    .footer {
        .row-footer1 {
            padding: 0 10px 20px 30px;            
                .col-footer1 {
                    .col-footer {
                        width: 50% !important;
                        padding-right: 40px;
                    }
                    .col3 {
                        width: 100% !important;
                        padding-right: 0;
                    }
                }
            }   
        }
}
