* { -webkit-tap-highlight-color: transparent; }

* { box-sizing: border-box; }

html [type=button] { -webkit-appearance: unset; }

body { background-color: #fff; font-family: lato; }

.header { margin: 17px 0 7px 60px; width: 115px; }

.logo { margin: 0%; width: 111px; height: 36px; font-size: 30px; font-weight: bold; text-align: center; color: #000000; text-decoration: none; }

#diligenceForm { /* border: 1px solid #000000; */ border-radius: 5px; margin: 50px auto 0; padding: 40px; width: 500px; border-radius: 6px; background-color: #ffffff; box-shadow: 0 1px 3px 1px rgba(209, 207, 207, 0.05), 0 2px 8px 4px rgba(53, 53, 53, 0.06); border: 1px solid #eee; }

.org_details { text-align: left; width: 240px; margin: 0 auto; }

input[type=text]::placeholder, input[type=email]::placeholder { font-size: 16px; color: #aaaaaa; }

#f_name, #email { width: 240px; margin-bottom: 10px; border-radius: 2px; background-color: #ffffff; border: solid 1px #dedede; padding: 16px 0 15px 15px; font-size: 16px; }

#email { margin-bottom: 0%; }

.first_name, .email { font-size: 16px; font-weight: bold; }

/* Mark input boxes that gets an error on validation: */
input.invalid { border: 1px solid #ff0000 !important; }

#error { display: none; font-size: 16px; color: #ff0000; }

.error { display: none; font-size: 16px; color: #ff0000; }

#email_exists { display: none; font-size: 16px; color: #ff0000; }

.signin_link { color: #2069e7; text-decoration: underline; font-weight: bold; }

/* Hide all steps by default: */
.tab { display: none; }
.tab .pageNo { margin: 0 auto; text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 40px; color: #b7b7b7; }

.buttons { margin: 0 auto; text-align: center; }

button { margin: 30px 20px 0 0; padding: 16px 54px; border: none; border-radius: 3px; background: #2f76f0; color: #ffffff; font-size: 14px; font-weight: bold; vertical-align: middle; }

button:hover { opacity: 0.8; }

#prevBtn { color: #2f76f0; font-size: 14px; font-weight: bold; border-radius: 3px; border: solid 1px #2f76f0; background-color: #ffffff; }

#submitBtn { float: right; position: relative; right: 30px; }

.modal .modal-content { padding: 30px; }
.modal .modal-header { border-bottom: none; }
.modal .modal-header .modal-title { margin: 0 auto; text-align: center; font-weight: bold; }
.modal .modal-header .close { margin-left: 0%; }
.modal .modal-body { font-size: 14px; text-align: center; line-height: 1.5; }
.modal .modal-footer { border-top: none; margin: 0 auto; text-align: center; }
.modal .modal-footer .ok { text-decoration: none; border-radius: 3px; background-color: #2f76f0; border: none; font-size: 14px; font-weight: bold; color: #ffffff; margin: 0%; padding: 15px 24px; }
.modal .modal-footer .login { text-decoration: none; color: #2f76f0; font-size: 14px; font-weight: bold; border-radius: 3px; border: solid 1px #2f76f0; background-color: #ffffff; margin: 0 20px 0 0; padding: 15px 24px; }

/* .submit-div { text-align: center;
} */
.panel-default { margin-bottom: 0; }

form { background-color: white; padding: 20px; border-radius: 5px; }

.questions { font-size: 18px; line-height: 1.6; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; color: #000000; }
.questions .star { color: #ff0000; }

.selectCompany { font-size: 15px; }

.selectCompany:hover { background-color: #45afde; color: white; padding: 5px; }

.group { margin: 40px; }

.title { line-height: 1.6; font-size: 24px; font-weight: bold; color: #000; text-align: center; }

.radioWrapper { margin: 18px 0; font-size: 16px; color: #585858; font-weight: 600; display: block; position: relative; padding-left: 30px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.option-wrapper { margin: 0 0 30px 15px; }

/* Hide the browser's default checkbox */
.radioWrapper input { position: absolute; opacity: 0; cursor: pointer; }

/* Create a custom checkbox */
.checkmark { position: absolute; top: 2px; left: 5px; height: 16px; width: 16px; border-radius: 100%; border: solid 1px #000000; background-color: #ffffff; }

/* When the checkbox is checked, add a blue background */
.radioWrapper input:checked ~ .checkmark { background-color: #ffffff; border: solid 1px #2069e7; opacity: 0.88; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none; }

/* Show the checkmark when checked */
.radioWrapper input:checked ~ .checkmark:after { display: block; }

/* Style the checkmark/indicator */
.radioWrapper .checkmark:after { top: 3px; left: 3px; width: 8px; height: 8px; border-radius: 50%; background: #2069e7; /* left: 3px; top: 3px;  width: 2px; height: 2px; border: solid 1px #2069e7;  background-color: #ffffff; border-radius: 50%; */ }

.animate-switch-container { padding: 10px; }

.animate-switch { padding: 10px; width: 100%; }

.btn-wrapper { margin: 20px; float: right; }

.skip_btn { color: black  !important; font-size: 12px; padding: 10px 20px; font-weight: bold; }

.next_btn { margin-left: 10px; }

@media screen and (max-width: 1440px) { #diligenceForm { margin: 50px auto; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 10px; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 10px; } }
@media screen and (max-width: 1280px) { #diligenceForm { margin: 20px auto; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 10px; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 10px; margin-right: 0%; } }
@media screen and (max-width: 1024px) { #diligenceForm { margin: 20% auto; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 10px; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 10px; } }
@media screen and (max-width: 768px) { #diligenceForm { width: 80%; margin: 20% auto; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 10px; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 10px; }
  #diligenceForm #submitBtn { position: relative; float: right; right: 80px; } }
@media screen and (max-width: 640px) { #diligenceForm { width: 70%; margin: 20px auto; }
  #diligenceForm .group { margin: 0%; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 10px; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 10px; }
  #diligenceForm #submitBtn { position: relative; float: right; right: 8px; } }
@media screen and (max-width: 414px) { #diligenceForm #prevBtn { margin-right: 10px; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin: 0 auto; }
  #diligenceForm #submitBtn { margin-top: 0%; margin-right: 23px; } }
@media screen and (max-width: 411px) { #diligenceForm #prevBtn { margin-right: 10px; margin-block-end: 20px; }
  #diligenceForm #nextBtn { margin: 0 auto; }
  #diligenceForm #submitBtn { margin-right: 23px; } }
@media screen and (max-width: 375px) { #diligenceForm { width: 90%; margin: 20px; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 0%; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 0%; margin-right: 0%; }
  #diligenceForm #submitBtn { position: unset; float: unset; margin: 0 auto; text-align: center; } }
@media screen and (max-width: 360px) { #diligenceForm { width: 90%; margin: 20px; }
  #diligenceForm .org_details { margin: 10px; }
  #diligenceForm .org_details #f_name, #diligenceForm .org_details #email { width: 100%; }
  #diligenceForm #prevBtn { margin-right: 0%; margin-bottom: 20px; }
  #diligenceForm #nextBtn { margin-top: 0%; margin-right: 0%; }
  #diligenceForm #submitBtn { position: unset; float: unset; margin: 0 auto; text-align: center; } }
@media screen and (max-width: 320px) { #diligenceForm { width: 90%; margin: 20px auto; }
  #diligenceForm .org_details { width: unset; } }
