* { box-sizing: border-box; }

html [type=button] { -webkit-appearance: unset; }

body { background-color: #fff; font-family: lato; }

.header { margin: 17px 0 7px 60px; width: 115px; }

.logo { margin: 0%; width: 111px; height: 36px; font-size: 30px; font-weight: bold; text-align: center; color: #000000; text-decoration: none; }

#templateForm { /* border: 1px solid #000000; */ border-radius: 5px; margin: 50px auto 0; /* padding: 40px; */ width: 500px; border-radius: 6px; background-color: #ffffff; box-shadow: 0 1px 3px 1px rgba(209, 207, 207, 0.05), 0 2px 8px 4px rgba(53, 53, 53, 0.06); border: 1px solid #eee; }

.org_details { text-align: left; margin: 0 auto; width: 240px; }

input[type=text]::placeholder, input[type=email]::placeholder { font-size: 16px; color: #aaaaaa; }

#f_name, #email { width: 240px; border-radius: 2px; margin-bottom: 10px; background-color: #ffffff; border: solid 1px #dedede; padding: 16px 0 15px 15px; font-size: 16px; }

#email { margin-bottom: 0%; }

.first_name, .email { font-size: 16px; font-weight: bold; }

/* Mark input boxes that gets an error on validation: */
input.invalid { border: 1px solid #ff0000 !important; }

#error { display: none; font-size: 16px; color: #ff0000; }

#email_exists { display: none; font-size: 16px; color: #ff0000; }

.signin_link { color: #2069e7; text-decoration: underline; font-weight: bold; }

.buttons { margin: 0 auto; text-align: center; }

button { margin: 30px 0; padding: 16px 54px; border: none; border-radius: 3px; background: #2f76f0; color: #ffffff; font-size: 14px; font-weight: bold; vertical-align: middle; }

button:hover { opacity: 0.8; }

.modal .modal-content { padding: 30px; }
.modal .modal-header { border-bottom: none; }
.modal .modal-header .modal-title { margin: 0 auto; text-align: center; font-weight: bold; }
.modal .modal-header .close { margin-left: 0%; }
.modal .modal-body { font-size: 14px; text-align: center; line-height: 1.5; }
.modal .modal-footer { border-top: none; margin: 0 auto; text-align: center; }
.modal .modal-footer .ok { text-decoration: none; border-radius: 3px; background-color: #2f76f0; border: none; font-size: 14px; font-weight: bold; color: #ffffff; margin: 0%; padding: 15px 24px; }
.modal .modal-footer .login { text-decoration: none; color: #2f76f0; font-size: 14px; font-weight: bold; border-radius: 3px; border: solid 1px #2f76f0; background-color: #ffffff; margin: 0 20px 0 0; padding: 15px 24px; }

form { background-color: white; padding: 20px; border-radius: 5px; }

.group { margin: 40px; }

.title { font-size: 24px; font-weight: bold; color: #000; text-align: center; }

@media screen and (max-width: 1440px) { #templateForm { margin: 50px auto; } }
@media screen and (max-width: 1280px) { #templateForm { margin: 20px auto; } }
@media screen and (max-width: 1024px) { #templateForm { margin: 20% auto; } }
@media screen and (max-width: 768px) { #templateForm { margin: 20% auto; }
  #templateForm .org_details #f_name, #templateForm .org_details #email { width: 100%; } }
@media screen and (max-width: 640px) { #templateForm { margin: 20px auto; }
  #templateForm .org_details #f_name, #templateForm .org_details #email { width: 100%; } }
@media screen and (max-width: 440px) { #templateForm { width: 90%; } }
@media screen and (max-width: 375px) { #templateForm { width: 90%; margin: 20px; }
  #templateForm .org_details #f_name, #templateForm .org_details #email { width: 100%; } }
@media screen and (max-width: 360px) { #templateForm { width: 90%; margin: 50px auto; }
  #templateForm .org_details #f_name, #templateForm .org_details #email { width: 100%; } }
@media screen and (max-width: 320px) { .modal .modal-footer { padding: 0%; } }
